# GI50
This NCI60 data gives an insight to effect of a chemical on cancer.
Cancer is not one disease but a collection of every possible cell in your body growing uncontrolled.
For this reason NCI60 has multiple different cell lines (column CELL_NAME).

I have here the GI50 data of the NCI60 project
GI50: concentration to stop growth with 50%. column "AVERAGE" is the average concentration needed.

In [1]:
import pandas as pd
from os.path import join as path_join
import numpy as np

In [2]:
gi50 = pd.read_csv(path_join("data", "GI50.csv"))
print(gi50.shape)
gi50.head()

(4585048, 14)

,RELEASE_DATE,EXPID,PREFIX,NSC,CONCENTRATION_UNIT,LOG_HI_CONCENTRATION,PANEL_NUMBER,CELL_NUMBER,PANEL_NAME,CELL_NAME,PANEL_CODE,COUNT,AVERAGE,STDDEV
0,20210223,0001MD02,S,123127,M,-4.6021,1,1,Non-Small Cell Lung Cancer,NCI-H23,LNS,1,-7.1391,0.0
1,20210223,0001MD02,S,123127,M,-4.6021,10,14,Melanoma,M14,MEL,1,-7.0520,0.0
2,20210223,0001MD02,S,123127,M,-4.6021,12,5,CNS Cancer,SNB-75,CNS,1,-7.1380,0.0
3,20210223,0001MD02,S,123127,M,-4.6021,4,2,Colon Cancer,HCC-2998,COL,1,-6.9426,0.0
4,20210223,0001MD02,S,123127,M,-4.6021,5,5,Breast Cancer,MDA-MB-231/ATCC,BRE,1,-6.4485,0.0

Creating a pivot table. Where every value is the average GI50 value of the combination cell line (row) and chemical (column)

In [3]:
correlation = pd.pivot_table(gi50, values='AVERAGE', index=['NSC'],
                    columns=['CELL_NAME'], aggfunc=np.mean)
correlation.head()

NSC,1,17,26,89,112,171,185,186,196,197,...,836824,836941,836942,837081,837082,837396,837397,837398,837892,837893
CELL_NAME,,,,,,,,,,,,,,,,,,,,,
786-0,-4.716867,-5.557233,-5.4265,-4.70005,-6.4911,-4.0,-7.4287,-4.609967,-5.1022,-5.5461,...,-5.4324,-5.3468,-4.0,-4.8286,-5.1042,-6.6969,-5.5047,-6.5669,-4.301,-5.6072
A-172/H.Fine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-4.230500,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A-204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A-C/EBP 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A-CREB 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The difference in how 2 cell lines react to the same chemical gives us an idea how similar those 2 cell lines are. If we take the average of all difference between all chemicals they have in common we get a difference score. Where 0 means the cells are the same, and infinite means they could not be more different.

In [17]:
np.abs(correlation["HCT-15"] - correlation["HOP-92"]).mean()

Avg diff 0.5365136610125857, num difs 59
CELL_NAME
786-0              0.071407
A498               0.429719
A549/ATCC          1.584981
ACHN               0.460768
BT-549             0.398016
CAKI-1             0.784300
CCRF-CEM           0.176300
COLO 205           0.575962
DU-145             0.410943
EKVX               0.539297
HCC-2998           1.080709
HCT-116            0.805091
HCT-15             1.106202
HL-60(TB)          0.396537
HOP-62             0.417476
HOP-92             0.198874
HS 578T            0.345624
HT29               0.930421
IGROV1             0.850885
K-562              0.288681
KM12               0.353211
LOX IMVI           0.884969
M14                0.006811
MALME-3M           0.309639
MCF7               0.976516
MDA-MB-231/ATCC    1.117000
MDA-MB-435         0.491341
MDA-N              0.492866
MOLT-4             0.432465
NCI-H226           0.634068
NCI-H23            0.884898
NCI-H322M          0.577172
NCI-H460           1.474320
NCI-H522           0.430789
NCI/ADR-RES        0.106971
OVCAR-3            0.322022
OVCAR-4            0.142525
OVCAR-5            0.232159
OVCAR-8            0.680952
PC-3               0.320669
RPMI-8226          0.386245
RXF 393            0.087688
SF-268             0.176401
SF-295             0.113843
SF-539             1.292657
SK-MEL-2           1.450220
SK-MEL-28          0.322956
SK-MEL-5           0.505987
SK-OV-3            0.234553
SN12C              0.237522
SNB-19             0.056714
SNB-75             0.303177
SW-620             0.562713
T-47D              0.514094
TK-10              0.762917
U251               0.075671
UACC-257           0.493631
UACC-62            0.514315
UO-31              0.839446
dtype: float64

We can do the same in a graph database. However the database is not fully in memory. So first we need to retrieve the data from the corresponding cells

In [5]:
import json

from py2neo import Graph

with open("config.json") as f:
    config = json.load(f)

neo4j_url = config.get("neo4jUrl", "bolt://localhost:7687")
user = config.get("user", "neo4j")
pswd = config.get("pswd", "password")
graph = Graph(neo4j_url, auth=(user, pswd))

At this point in the database only hold GI50 data, but we still write the query like more kinds of data exists. We look for all chemicals that have both a condition with cell A and cell B. All conditions also most have GI50 measurement.
Next up we average the measurements and calculate the distance just like above.
The values do differ a bit from each other because not all chemicals could be loaded into the database.

In [6]:
response = graph.run(
    """
    MATCH (cell1:CellLine {label: $cell_name_1})
    MATCH (gi50:Measurement {name: "GI50"})

    MATCH (chem:Synonym)<-[:USES]-(c1:Condition)-[:USES]->(cell1)
    MATCH (c1)-[m1:MEASURES]->(gi50)
    WITH DISTINCT chem as chem, avg(toFloat(m1.value)) as values1, count(m1.value) as numVal1, gi50

    MATCH (cell2:CellLine {label: $cell_name_2})
    MATCH (chem)<-[:USES]-(c:Condition)-[:USES]->(cell2)
    MATCH (c)-[m:MEASURES]->(gi50)
    WITH DISTINCT chem as chem, avg(toFloat(m.value)) as values2, count(m.value) as numVal2, values1, numVal1

    RETURN avg(abs(values1- values2)) as distance
    """,
    cell_name_1="HCT-15",
    cell_name_2="HOP-92",
).data()
print(response[0]["distance"])

0.31269519410755936

In [7]:
response = graph.run(
    """
    MATCH (cell1:CellLine {label: $cell_name_1})
    MATCH (gi50:Measurement {name: "GI50"})

    MATCH (chem:Synonym)<-[:USES]-(c1:Condition)-[:USES]->(cell1)
    MATCH (c1)-[m1:MEASURES]->(gi50)
    WITH DISTINCT chem as chem, avg(toFloat(m1.value)) as values1, gi50
    // WITH DISTINCT cell1, collect(chem) as col_chem, collect(values1) as col_val1, gi50

    MATCH (cell2:CellLine)
    WHERE cell2.label in ["HOP-92", "HCT-116"]

    MATCH (chem)<-[:USES]-(c:Condition)-[:USES]->(cell2)
    MATCH (c)-[m:MEASURES]->(gi50)
    WITH DISTINCT chem, avg(toFloat(m.value)) as values2, cell2, values1

    RETURN DISTINCT cell2, avg(abs(values1- values2)) as distance
    """,
    cell_name_1="HCT-15",
).data()

for r in response:
    print(r["cell2"]["label"], r["distance"])

HOP-92 0.31269519410755936
HCT-116 0.1841500216693871

In [10]:
response = graph.run(
    """
    MATCH (cell1:CellLine {label: $cell_name_1})
    MATCH (gi50:Measurement {name: "GI50"})

    MATCH (chem:Synonym)<-[:USES]-(c1:Condition)-[:USES]->(cell1)
    MATCH (c1)-[m1:MEASURES]->(gi50)
    WITH DISTINCT chem as chem, avg(toFloat(m1.value)) as values1, gi50

    MATCH (cell2:CellLine)
    WHERE cell2.label in ["HOP-92", "HCT-116"]


    CALL {
        WITH chem, values1, gi50, cell2

        MATCH (chem)<-[:USES]-(c:Condition)-[:USES]->(cell2)
        MATCH (c)-[m:MEASURES]->(gi50)
        WITH DISTINCT chem as chem2, abs(values1-avg(toFloat(m.value))) as values2, cell2 as cell
        RETURN chem2, cell, values2
    }

    RETURN DISTINCT cell.label as cellName, avg(values2) as distance, count(values2) as numChems
     """,
    cell_name_1="HCT-15",
).data()

for r in response:
    print(r["cellName"], r["distance"], r["numChems"])

HOP-92 0.31269519410755936 45469
HCT-116 0.1841500216693871 50975

In [8]:
for cell_line in correlation:   
    all_distance = np.abs(correlation["HCT-15"] - correlation[cell_line]).dropna()
    distance = all_distance.mean()
    print(f"Difference with {cell_line} is {distance:.4f} of {len(all_distance)} samples")

Difference with 786-0 is 0.2012 of 52098 samples
Difference with A-172/H.Fine is 0.5092 of 783 samples
Difference with A-204 is 1.4629 of 16 samples
Difference with A-C/EBP 3 is 0.8016 of 10 samples
Difference with A-CREB 1 is 0.8027 of 10 samples
Difference with A-CREB 2 is 0.6198 of 10 samples
Difference with A-FOS 2 is 0.9863 of 10 samples
Difference with A-FOS 3 is 0.8214 of 10 samples
Difference with A-JUN 1 is 0.4059 of 10 samples
Difference with A-JUN 3 is 0.3378 of 10 samples
Difference with A431 is 0.8911 of 10 samples
Difference with A498 is 0.2961 of 46660 samples
Difference with A549/ATCC is 0.2128 of 53286 samples
Difference with ACHN is 0.1831 of 52442 samples
Difference with BT-549 is 0.2632 of 37355 samples
Difference with CACO-2 is 1.0474 of 17 samples
Difference with CAKI-1 is 0.2103 of 49761 samples
Difference with CALU-1 is 0.5601 of 16 samples
Difference with CCD-19LU is 1.0922 of 3 samples
Difference with CCRF-CEM is 0.2796 of 50167 samples
Difference with CHA-59 is 0.6397 of 15 samples
Difference with CHO is 0.4749 of 2 samples
Difference with CHO/159-1 is 0.7652 of 2 samples
Difference with COLO 205 is 0.2062 of 52372 samples
Difference with COLO 741 is 0.3127 of 36 samples
Difference with COLO 746 is 0.8567 of 35 samples
Difference with CXF 264L is 0.5797 of 35 samples
Difference with DB is 0.5779 of 37 samples
Difference with DLD-1 is 0.1242 of 13495 samples
Difference with DMS 114 is 0.1897 of 13770 samples
Difference with DMS 273 is 0.1597 of 12933 samples
Difference with DU-145 is 0.2370 of 40432 samples
Difference with EKVX is 0.2419 of 50207 samples
Difference with ES-2 CNCR is 0.8899 of 17 samples
Difference with H1299p53RE29 is 0.4607 of 24 samples
Difference with HCC-2998 is 0.2289 of 48069 samples
Difference with HCT-116 is 0.1864 of 52575 samples
Difference with HCT-116/CMV-1 is 0.6177 of 22 samples
Difference with HCT-116/CMV-2 is 0.6111 of 23 samples
Difference with HCT-116/E6-1 is 0.6923 of 23 samples
Difference with HCT-116/E6-2 is 0.5909 of 17 samples
Difference with HCT-116/P is 0.6159 of 23 samples
Difference with HCT-116/P21/A is 0.7844 of 23 samples
Difference with HCT-116/P21/B is 0.7885 of 23 samples
Difference with HCT-116/P21/C is 0.9059 of 21 samples
Difference with HCT-116/PV is 0.7643 of 22 samples
Difference with HCT-15 is 0.0000 of 54529 samples
Difference with HL-60(TB) is 0.2902 of 48103 samples
Difference with HOP-18 is 0.2951 of 10803 samples
Difference with HOP-62 is 0.2455 of 51504 samples
Difference with HOP-92 is 0.3137 of 46969 samples
Difference with HS 578T is 0.3016 of 38674 samples
Difference with HT is 0.5987 of 34 samples
Difference with HT29 is 0.1896 of 52551 samples
Difference with HT29p53RE22 is 1.0519 of 24 samples
Difference with IGROV1 is 0.2183 of 52332 samples
Difference with JCA-1 is 1.1053 of 17 samples
Difference with K-562 is 0.2283 of 51505 samples
Difference with KM12 is 0.1913 of 52641 samples
Difference with KM20L2 is 0.1601 of 13373 samples
Difference with LN-229/H.Fine is 0.5411 of 778 samples
Difference with LOX IMVI is 0.1979 of 50462 samples
Difference with LXFL 529 is 0.1602 of 12846 samples
Difference with LXFS 650L is 0.7371 of 14 samples
Difference with M14 is 0.1774 of 52059 samples
Difference with M19-MEL is 0.1671 of 14010 samples
Difference with MALME-3M is 0.2406 of 49132 samples
Difference with MAXF 401 is 0.5023 of 198 samples
Difference with MCF7 is 0.2428 of 40794 samples
Difference with MCF7-E6 is 0.8909 of 24 samples
Difference with MCF7/ATCC is 0.5407 of 17 samples
Difference with MDA-MB-231/ATCC is 0.2427 of 40138 samples
Difference with MDA-MB-435 is 0.2273 of 40715 samples
Difference with MDA-MB-435S is 0.7168 of 3 samples
Difference with MDA-MB-468 is 0.4259 of 9632 samples
Difference with MDA-N is 0.1803 of 27578 samples
Difference with MEXF 514L is 0.4185 of 35 samples
Difference with MLI-019 is 1.5788 of 12 samples
Difference with MLI-045 is 0.7602 of 16 samples
Difference with MLI-059 is 0.9055 of 17 samples
Difference with MLI-076 is 0.5898 of 16 samples
Difference with MOLT-4 is 0.2628 of 51937 samples
Difference with Mar-Bel is 1.4436 of 4 samples
Difference with NB4 is 0.1857 of 16 samples
Difference with NCI-H226 is 0.2747 of 49400 samples
Difference with NCI-H23 is 0.2044 of 52655 samples
Difference with NCI-H322M is 0.2509 of 51383 samples
Difference with NCI-H460 is 0.2123 of 51814 samples
Difference with NCI-H522 is 0.2541 of 48761 samples
Difference with NCI/ADR-RES is 0.2098 of 41042 samples
Difference with ND-1 is 0.9424 of 17 samples
Difference with NYH is 0.6116 of 1 samples
Difference with NYH/ICRF-187-1 is 0.5584 of 2 samples
Difference with OVCAR-3 is 0.1954 of 51731 samples
Difference with OVCAR-4 is 0.2458 of 50726 samples
Difference with OVCAR-5 is 0.2600 of 51894 samples
Difference with OVCAR-8 is 0.1923 of 53240 samples
Difference with P388 is 0.6366 of 1054 samples
Difference with P388/ADR is 0.4649 of 1030 samples
Difference with PC-3 is 0.2124 of 40507 samples
Difference with RKO Waf1 is 0.6932 of 24 samples
Difference with RKOp53RE1 is 0.6928 of 24 samples
Difference with RL is 1.6581 of 29 samples
Difference with RPMI-7951 is 0.8594 of 17 samples
Difference with RPMI-8226 is 0.2437 of 49730 samples
Difference with RXF 393 is 0.2448 of 47880 samples
Difference with RXF 486L is 0.5855 of 17 samples
Difference with RXF-631 is 0.1678 of 10434 samples
Difference with SF-268 is 0.2216 of 52487 samples
Difference with SF-295 is 0.2248 of 52769 samples
Difference with SF-539 is 0.2154 of 50154 samples
Difference with SF-767 is 1.0836 of 17 samples
Difference with SK-BR-3 is 0.5411 of 202 samples
Difference with SK-MEL-2 is 0.2371 of 50043 samples
Difference with SK-MEL-28 is 0.2374 of 52048 samples
Difference with SK-MEL-5 is 0.2117 of 52077 samples
Difference with SK-OV-3 is 0.2778 of 50436 samples
Difference with SMS-KCNR is 0.7289 of 17 samples
Difference with SN12C is 0.1984 of 52738 samples
Difference with SN12K1 is 0.3589 of 1072 samples
Difference with SNB-19 is 0.2546 of 52389 samples
Difference with SNB-75 is 0.3069 of 49341 samples
Difference with SNB-78 is 0.2092 of 12970 samples
Difference with SR is 0.3116 of 44221 samples
Difference with SW 1088 is 0.8043 of 17 samples
Difference with SW 1783 is 1.3891 of 11 samples
Difference with SW-156 is 0.3537 of 37 samples
Difference with SW-1573 is 0.4411 of 36 samples
Difference with SW-620 is 0.1713 of 53219 samples
Difference with T-47D is 0.3025 of 38420 samples
Difference with T47D ERE4 is 0.8753 of 23 samples
Difference with T47D FOS1 is 0.8258 of 24 samples
Difference with T47D NFkB15 is 0.9034 of 24 samples
Difference with T98G/H.Fine is 0.5216 of 780 samples
Difference with TE85 is 0.9588 of 4 samples
Difference with TK-10 is 0.2606 of 51357 samples
Difference with TK-164 is 0.4584 of 35 samples
Difference with TSU-PRI is 0.8619 of 18 samples
Difference with U-251/H.Fine is 0.5404 of 784 samples
Difference with U-373/H.Fine is 0.6472 of 738 samples
Difference with U-87/H.Fine is 0.5130 of 783 samples
Difference with U118/H.Fine is 0.5574 of 768 samples
Difference with U251 is 0.1987 of 52984 samples
Difference with UABLG22 is 0.9334 of 17 samples
Difference with UABMEL3 is 0.7661 of 17 samples
Difference with UACC-257 is 0.2466 of 52176 samples
Difference with UACC-62 is 0.2058 of 52010 samples
Difference with UISO-BCA-1 is 0.4389 of 36 samples
Difference with UO-31 is 0.2162 of 52268 samples
Difference with UOK-57 is 0.9829 of 17 samples
Difference with VDSO/CMV-8 is 0.9636 of 2 samples
Difference with VDSO/CMV-9 is 0.9422 of 3 samples
Difference with VDSO/E6-18 is 1.0129 of 2 samples
Difference with VDSO/E6-19 is 0.5517 of 3 samples
Difference with VDSO/P is 0.8605 of 4 samples
Difference with WI-38 is 0.8153 of 4 samples
Difference with XF 498 is 0.2395 of 11377 samples
Difference with ZR-75-1 is 0.7784 of 17 samples
Difference with ZR-75-30 is 0.8847 of 9 samples

In [9]:
correlation.isna().sum().sum()

5819308

In [10]:
correlation.isna().sum().sum()/correlation.size

0.6456632510125747

In [11]:
correlation.isna().sum().sort_values()

CELL_NAME
A549/ATCC          1394
OVCAR-8            1519
SW-620             1522
U251               1823
SF-295             1954
                  ...
VDSO/CMV-8        56683
VDSO/E6-18        56683
NYH/ICRF-187-1    56683
CHO               56683
NYH               56684
Length: 159, dtype: int64